# Files and directories to exclude from release packages
.git export-ignore
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.vscode export-ignore
.editorconfig export-ignore
*.md export-ignore
vendor export-ignore
composer.json export-ignore
phpcs.xml export-ignore
README.md export-ignore